/* SelectAvatar.css */

/* Container for the avatar selection */
.select-avatar-container {
    margin-top: 1rem;
  }
  
  .select-avatar-title {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: white;
  }
  
  /* Grid layout for avatars */
  .avatar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-bottom: 1.75rem;
  }
  
  /* Avatar image styling */
  .avatar-img {
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 9999px; /* Rounded full */
    cursor: pointer;
    padding: 0.5rem;
    background-color: #6B8AFD; /* Replace with your color */
  }
  
  /* Selected avatar outline */
  .selected-avatar {
    outline: 2px solid white;
  }
  